
html {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/intermediary/f/15c0dc1c-e0d8-41fd-b4ed-2a1ba42e658e/d5stmxz-4a881b46-6569-49fb-aae9-59a76e8b0b5c.jpg");
}

body {
	background-color: white;
	margin: auto;
    width: 70%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
    min-width: 250px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    max-width: 500px;

}


main {
	margin: auto;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

fieldset {
	border: 0;
}

h1 {
	text-align: center;
	font-family: 'Noto Serif', serif;
	width: 70%;
	margin: auto;
	margin-bottom: 20px;

}

footer {
    text-align: center;
}

ul li {
	list-style: none;
	display:inline-block;
}

ul {
	padding: 20px;
  }

.answer-choice {
	display: flex;
	background: #efe5d5;
	margin-bottom: 10px;
	min-width: 200px;
	height: 50px;
	color: #706656;
	flex-direction: column;
	outline:none;
	vertical-align: center;
}

.answer-choice:hover {
	background: #706656;
	color: #efe5d5;
}

.question-text {
	margin-bottom: 20px;
}


input[type=radio]{
	-webkit-appearance: none;
}

button[type=submit]{
	-webkit-appearance: none;
	font-family: 'Noto Serif', serif;
	height: 50px;
	width: 60%;
	font-size: 1.0em;
	background-color: #DCE4C3;
	color: #755e0d;
	border: 0px;
	outline:none;
	margin-top: 20px
	display: block;
	margin: auto;
}

button[type=submit]:hover{
    background-color: #798b3f;
    color: #ebca52
}

.answer {
	vertical-align: center;

}

#submit-button {
	padding: 30px;
	justify-content: center;
	margin: auto;
}


/* START CSS */

#start-button {
	font-family: 'Noto Serif', serif;
	height: 50px;
	width: 60%;
	font-size: 1.0em;
	background-color: #DCE4C3;
	color: #755e0d;
	border: 0px;
	outline:none
}

#start-button:hover{
    background-color: #798b3f;
    color: #ebca52
}

/* media */
@media (min-width: 450px) {
    .start-button {
       font-size: 1.4em;
   }


 @media (min-width: 600px) {
    .start-button {
       font-size: 1.8em;
   }

   @media (min-width: 450px) {
    button[type=submit] {
       font-size: 1.4em;
   }


 @media (min-width: 600px) {
    button[type=submit] {
       font-size: 1.8em;
   }

